<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://10.0.1.45:8000/f/88d0037558be461b8e60/?dl=1</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <false/>
                        <key>url</key>
                        <string>http://10.0.1.45:8000/f/b1d4583c082e48098d5a/?dl=1</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <false/>
                        <key>url</key>
                        <string>http://10.0.1.45:8000/f/48f1284a246d4893b575/?dl=1</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.ultimavip.dit</string>
                    <key>bundle-version</key>
                    <string>4.1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>环球黑卡</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
